
.banner{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.banner_image{
  background-image: url('../assets/images/fundo.png');
  position: absolute;
  display: block;
  width: 100vw;
  height: 61rem;
  background-size: cover;
  z-index: 1;
}

.banner_logo_image{
  position: absolute;
  width: 45rem;
  left: 5vw;
  top: 12rem;
  z-index: 100;
}

.banner_textbox{
  position: absolute;
  width: 50vw;
  right: 10vw;
  top: 40rem;
  text-align: center;
  z-index: 100;
}

.banner_textbox_text{
  margin: 0 5rem 5rem 5rem;
  font-size: 3rem;
  text-align: center;
  color: #eee;
  font-family: 'Quicksand', sans-serif;
}

.banner_textbox_hr{
  margin: -4rem 20vw 0 20vw;
  border: .2rem solid white;
  
}

@media only screen and (max-width: 767px) {

  .banner{
    display: none;
  }
  .banner_image{
    display: none;
  }

  .banner_logo_image{
    display: none;
  }

  .banner_textbox{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {

  .banner_image{
    height: 22rem;
  }
  .banner_logo_image{
    width: 15rem;
    left: 3vw;
    top:  6rem;
  }

  .banner_textbox{
    top: 13rem;
  }

  .banner_textbox_text{
    font-size: 1.6rem;
    margin: 0 1.6rem 1.6rem 1.6rem;
  }

  .banner_textbox_hr{
    margin: -1rem 20vw 0 20vw;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1600px){
  .banner_image{
    height: 56rem;
  }

  .banner_logo_image{
    width: 35rem;
    top: 15rem;
  }

  .banner_textbox{
    top: 35rem;
  }

  .banner_textbox_text{
    font-size: 2rem;
  }
}