
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.container{
  width: 80vw;
  margin: 5rem auto;
}

.content_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10rem;
}

.content_text{
  font-family: 'Quicksand' sans-serif;
}

.content_text_h2{
  text-align: center;
  font-size: 3rem;
}

.content_text_p{
  font-size: 2rem;
}

.content_image{
  width: 40rem;
}