

.footer{
  position: relative;
  background-image: url('../assets/images/footer_1.png');
  max-width: 100vw;
  height: 40rem;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}

.footer_social{
  position: absolute;
  width: 100vw;
  color: white;
  margin: 25rem auto 0 auto;
  font-size: 6rem;
  display: flex;
  justify-content: center;
}

.footer_social_icon{
  margin: 0 1rem;
}


@media only screen and (max-width: 767px) {
  .footer{
    height: 10rem;
  }

  .footer_social{
    margin-top: 4rem;
    font-size: 4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
  .footer{
    height: 20rem;
  }

  .footer_social{
    margin-top: 10rem;
  }
}

  @media only screen and (min-width: 1280px) and (max-width: 1600px){
    .footer{
      height: 30rem;
    }

    .footer_social{
      margin-top: 18rem;
    }
  }
